<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}
    </title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

</head>
{{> head }}

<body>
    {{> navigation }}

    <style>
        img {
            width: 45%;
            height: auto;
        }
    </style>
    <p style="text-align:center;"><img src="\images\dogbitingleg.png" alt="dogbiting" /></p>



    <div class="container p-5">
        <div class="row">
            <div class="col-md-9 offset-md-1">
                <div class="card animated flipInY">
                    <div class="cad-header bg-dark text-white text-center">
                        <h3>
                            Ask me anything. I won't bite.
                        </h3>
                        {{ msg }}
                        <!-- This is coming from app.js, line 71 -->
                    </div>
                    <div class="card-body">
                        <form id='form' action="send" method="POST">
                            <div>
                                {{!-- <div id='formError'>You've made a mistake</div> --}}
                                <input type="email" name="email" class="form-control" placeholder="Your email"
                                    required= />
                                <div class="form-group">
                                    <textarea class="form-control" name="message" cols="30" rows="10"
                                        placeholder="Tell me how can I help you" required=></textarea>
                                </div>

                                <button type="submit" class="btn btn-primary btn-block">
                                    Send message to Alex
                                </button>
                            </div>
                        </form>

                        <span></span>

                        <script>
                            $("form").submit(function (event) {
                                console.log('called');
                                if (grecaptcha.getResponse() == "") {
                                    console.log('should stop this');
                                    event.preventDefault();  // this prevents the form from submitting
                                    // if you don't like these, research how to show/hide div's in jquery
                                    // https://tutorialdeep.com/jquery/jquery-show-hide-toggle-functions/
                                    alert("Eres un Robot");
                                    // $("formError").show(); <-- not quite right
                                } else {
                                    // you could do some sort of show/hide div thing here
                                    // where you display a message
                                    console.log('thanks, all done');
                                    // alert("Thank you"); // you may not even need this, you may be able to remove the else statement
                                }

                            });
                        </script>

                    </div>
                    <div id='grecaptcha' class="g-recaptcha btn " style="transform: scale(0.77); 
                                -webkit-transform: scale(0.77); transform-origin: 0 0;
                                -webkit-transform-origin: 0 0;" data-theme="light"
                        data-sitekey="6LcGB9sZAAAAAPe4l8WW25P8_AhmRsprBg2ccGBC">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{{> footer }}

</html>