<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
</head>
{{> head }}

<body>
    {{> navigation }}



    <p></p>
    <iframe id='audio_64389494' frameborder='3' allowfullscreen='' scrolling='no' height='200'
        style='border:1px solid #EEE; box-sizing:border-box; width:50%;'
        src='https://www.ivoox.com/player_ej_64389494_4_1.html?c1=ff6600'></iframe>
    <h3>When we talk about food we have a great number of dishes and plates, we are going to look into them
        because they have diferent meanings. <p></p>



        Buen provecho <p></p>


        pinchos <p></p>


        tapas <p></p>


        raciones <p></p>


        <p>Click on the image to download word for the transcription:

            <a href="transcriptions\podcast1.odt" style="color: #8ebf42" download="tapasyraciones">Download
            </a>


    </h3>
</body>

{{> footer }}

</html>