<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
</head>
{{> head }}

<body>
    {{> navigation }}



    <p></p>
    <div class="iframe-container">

        <iframe id='audio_64389494' frameborder='3' allowfullscreen='' scrolling='no' height='200'
            style='border:1px solid #EEE; box-sizing:border-box; width:50%;'
            src='https://www.ivoox.com/player_ej_64389494_4_1.html?c1=ff6600'></iframe>
    </div>
    <style>
        .iframe-container {
            text-align: center;
            width: 100%;
        }
    </style>

    <div class="bg-myphoto-light">
        <div class="card-block">
            <b>
                <h2>Contenidos de este podcast</h2>
            </b>

        </div>

    </div>

    <style>
        .bg-myphoto-light {
            text-align: center;
            width: 100%;
            color: black;
        }
    </style>
    <br></br>
    <div class="ext-1">


        <h3>When we talk about food we have a great number of dishes and plates, we are going to look into them
            because they have diferent meanings. <p></p>

            <h3>After listening to this podcast you are going to be more confident ordering
                food and understanding the culture behind food rations in Spain. <p></p>

                <h3>Enjoy your meal :) Buen provecho <p></p>


                    <p>Click on download for the transcription:

                        <a href="transcriptions\tapasyRaciones.txt" style="color: #8ebf42"
                            download="tapasyraciones">Download
                        </a>


                </h3>
    </div>
    <style>
        .ext-1 {
            margin: auto;
            background: ;
            width: 66%;
            color: black;
    </style>


</body>

{{> footer }}

</html>