<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
</head>
{{> head }}

<body>
    {{> navigation }}

    <p></p>

    <h3>When we talk about false friends we can identify a great number, they are words that look similar in both
        languages but they have diferent meanings. <p></p>


        I am going to touch here to more important ones. <p></p>


        actually <p></p>


        then-entonces <p></p>


        mudarse-moverse <p></p>


    </h3>
</body>

{{> footer }}

</html>