<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>
            <%= title %>
        </title>
        <%- include('partials/head'); %>
    </head>

    <body>
        <%- include('partials/navigation'); %>

        <header>
            <div class="container">
                <header class="row">
                    <div class="col-lg-12 tex-center">

                        <!-- parece que la ruta nace desde la especificacion de app get en la carpeta pages -->
                        <!-- <img
                            src="../images/logo.webp"
                            alt="logo"
                            class="logo"
                        /> -->
                        <p>

                        </p>
                    </div>
                </header>
            </div>
        </header>

        <!-- SECTION ONE-->

        <div class="container fluid" id="about">
            <div class="row bg-dark text-white p-5 text-center">
                <div class="col sm-6">
            
                    <i class="fas fa-user-graduate fa-10x"></i>
            </div>
                    <div class="col sm-6"></div>
                    <h3>The most famous Spanish teacher</h3>
                </div>
            </div>
        </div>
    </body>
<p>
    
</p>
    <%- include('partials/footer'); %>
</html>
