<!DOCTYPE html>

<html lang="en">

<head>

    {{> head }}

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>

        {{{ title }}}

    </title>


</head>


<body>

    {{> navigation }}




    <!-- PASTE TEMPLATE MDB -->
    <main class="mt-5">
        <div class="container">
            <!--Section: Content-->
            <section>
                <div class="row">
                    <div class="col-md-6 gx-5 mb-4">
                        <div class="image ">
                            <img src="../images/saliendoPortatil.png" class="img-fluid" />

                        </div>
                    </div>


                    <div class="col-md-6 gx-5 mb-4">
                        <p class="note note-primary">
                            Welcome to <strong>Spanish with Alex</strong>, your Spanish Academy Online.
                            Here you can book personalised classes, check out my courses and study using my own and
                            exclusive materials.
                        </p>


                        <p class="note note-primary">

                            Education has always been my passion, both personally and professionally.

                        </p>
                        <p class="note note-primary">
                            That is why I have studied Science of Education and I have been teaching Spanish since 2010
                            with
                            great feedback
                            and results.
                        </p>
                        <p class="note note-primary">
                            I would like to help you too with your Spanish, that´s why I created this website.

                            It has been a crucial aspect of my life and I want to keep helping more people to learn
                            Spanish.

                        </p>

                        <hr class="my-3" />


                        <p class="note note-primary">
                            <strong>Follow me </strong> if you want to know when I upload new content.
                            You can also can contact me anytime.

                        </p>

                        <hr class="my-3" />

                        <p class="note note-primary">
                            <strong>Alex.</strong>

                        </p>


                    </div>
                </div>
            </section>
            <!--Section: Content-->

            <hr class="my-5" />

            <!--Section: Content-->

            <section class="text-center">
                <h1 class="mb-8" style="color:rgb(236, 239, 241);"><strong>CONTENT</strong>
                </h1>

                <div class="row">


                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card animated fade-in">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                <!--<img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="img-fluid" />-->
                                <img src="../images/thumbnails/podcasts.jpg" class="img-fluid" />

                                <a href="/FalsosAmigos">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Latest Podcasts</h5>
                                <p class="card-text">
                                    Fregar o no fregar
                                </p>
                                <a href="/fregaronofregar" class="btn btn-primary">Podcast</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card animated fade-in">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                <!--<img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="img-fluid" />-->
                                <img src="../images/thumbnails/videos.jpg" class="img-fluid" />
                                <a href="/avionRetraso">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Latest Video</h5>
                                <p class="card-text">
                                    Routines
                                </p>
                                <a href="/avionRetraso" class="btn btn-primary">Video</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card animated fade-in">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                <!--<img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="img-fluid" />-->
                                <img src="../images/thumbnails/exercises.jpg" class="img-fluid" />
                                <a href="/servsestar">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Grammar Exercices</h5>
                                <p class="card-text">
                                    Ser y Estar.
                                </p>
                                <a href="/servsestar" class="btn btn-primary">Grammar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Section: Content-->
            <hr class="my-5" />

            <section class="text-center">

                <h1 class="mb-8 " style="color:rgb(236, 239, 241);"><strong>How do I sound?</strong></h1>

                <!-- PASTE TEMPLATE MDB -->
                <header>
                    <div class="container">
                        <header class="row">
                            <div class="col-lg-12 tex-center">

                                <!-- parece que la ruta nace desde la especificacion de app get en la carpeta pages -->
                                <!-- <img
                            src="../images/logo2PNG1.webp"
                            alt="logo"
                            class="logo"
                        /> -->
                                <p> </p>
                            </div>
                        </header>
                    </div>
                </header>

                <!-- SECTION ONE-->
                <div>
                    <div class="container fluid" id="about">
                        <div class="row bg-dark text-white p-6 text-center ">
                            <div class="col sm-6">

                                <!-- <i class="fas fa-user-graduate fa-10x"></i>  -->

                            </div>
                            <div class="col sm-6 "></div>
                            <h3>
                                <bold>Check out my introduction video!</bold>

                                <p></p>



                                <hr>

                                <p> </p>
                                <hr>
                                <p> </p>

                                <!--responsive iframe-->

                                <style>
                                    .containerVideo {
                                        position: relative;
                                        width: 100%;
                                        overflow: hidden;
                                        padding-top: 56.25%;
                                        /* 16:9 Aspect Ratio */
                                    }

                                    .responsive-iframe {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        bottom: 0;
                                        right: 0;
                                        width: 100%;
                                        height: 100%;
                                        border: none;
                                    }
                                </style>
                                <div class="containerVideo">
                                    <iframe class="responsive-iframe" width="560" height="315"
                                        src="https://www.youtube.com/embed/DCKAL1ig5KM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture
                            allowfullscreen"></iframe>
                                </div>

                                <p> </p>
                                <p> </p>

                                <hr>

                                <p>

                                </p>
                            </h3>
                            <p>

                            </p>
                        </div>
                    </div>


                </div>

                <!-- Marketing messaging and featurettes
  ================================================== -->
                <!-- Wrap the rest of the page in another container to center all the content. -->
                <p> </p>

                <hr class="my-5" />


                <H1 align="center" style="color:#0f1a58"> TESTIMONIALS </H1>


                <div class="container marketing">

                    <!-- Three columns of text below the carousel -->
                    <div class="row">
                        <div class="col-lg-4">
                            <!--  <svg class="bd-placeholder-img rounded-circle" width="80" height="80" xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                        dy=".3em">140x140</text>
                </svg>-->



                            <div class="media  p-3">
                                <img src="../images/T060221460_Avatar.jpg" alt="Mat Knight"
                                    class="mr-3 mt-3 rounded-circle" style="width:60px;">
                                <div class="media-body">
                                    <h4>Mat Knight </h4>
                                    <p style="color:#ffffff">I have been working with Spanish with Alex for
                                        the past six months and
                                        can't say enough about how great it has been. He is an excellent
                                        teacher and a fun person to
                                        work with.</p>
                                </div>
                            </div>
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <!--<svg class="bd-placeholder-img rounded-circle" width="80" height="80" xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                        dy=".3em">140x140</text>
                </svg>-->
                            <div class="media  p-3">
                                <img src="../images/T071363650_Avatar.jpg" alt="Tosh Allan"
                                    class="mr-3 mt-3 rounded-circle" style="width:60px;">
                                <div class="media-body">
                                    <h4>Tosh Allan </h4>
                                    <p style="color:#ffffff">Alex makes the lessons fun and engaging
                                        learning experiences.Always I
                                        enjoy our time and look forward to the next session.</p>
                                </div>
                            </div>
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <!-- <svg class="bd-placeholder-img rounded-circle" width="80" height="80" xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                        dy=".3em">140x140</text>
                </svg>-->
                            <div class="media  p-3">
                                <img src="../images/2T071007130_Avatar.jpg" alt="John Doe"
                                    class="mr-3 mt-3 rounded-circle" style="width:60px;">
                                <div class="media-body">
                                    <h4>John Doe </h4>
                                    <p style="color:#ffffff">I really enjoy class with Alex. Take class with
                                        Alex! You won’t regret
                                        it!</p>
                                </div>
                            </div>
                        </div><!-- /.col-lg-4 -->
                    </div><!-- /.row -->




                    <!-- BOTTOM 
       
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
                book lesson
            </button>

          -->
                </div>


                <p> </p>
                {{> footer }}

</html>