<!DOCTYPE html>
<html lang="en">

<head>
    {{> head }}

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
        {{{ title }}}
    </title>
    {{> head }}

</head>


<body>
    {{> navigation }}



    <header>
        <div class="container">
            <header class="row">
                <div class="col-lg-12 tex-center">

                    <!-- parece que la ruta nace desde la especificacion de app get en la carpeta pages -->
                    <!-- <img
                            src="../images/logo.webp"
                            alt="logo"
                            class="logo"
                        /> -->
                    <p>

                    </p>
                </div>
            </header>
        </div>
    </header>

    <!-- SECTION ONE-->

    <div class="container fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col sm-6">

                <!-- <i class="fas fa-user-graduate fa-10x"></i>  -->

            </div>
            <div class="col sm-6"></div>
            <h3>The benefits of knowing Spanish goes beyond the ability to speak in another language. I offer you a
                simple solution to improve yours. Join me from the comfort of your home or office.



                Experience a more intuitive way of learning that delivers substantial results from the first lesson.



                I am a qualified teacher with 10 years of experience teaching Spanish to children and adults.



                Start today and book online your trial lesson.

                The site is a mess since is under construction at the moment, Sorry for that.
                <p>

                </p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/DCKAL1ig5KM" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <!-- Calendly inline widget begin -->
                <div class="calendly-inline-widget" data-url="https://calendly.com/spanishwithalex"
                    style="min-width:320px;height:660px;"></div>
                <p>

                </p>
                <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
                <!-- Calendly inline widget end -->
                <p>

                </p>
            </h3>
            <p>

            </p>
        </div>
    </div>


    </div>

    <!-- Marketing messaging and featurettes
  ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <p> </p>



    <H1 align="center"> TESTIMONIALS </H1>


    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <!--  <svg class="bd-placeholder-img rounded-circle" width="80" height="80" xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                        dy=".3em">140x140</text>
                </svg>-->



                <h2>Mat Knight</h2>
                <p style="color:#ffffff" ;>I have been working with Alex for the past six months and can't say
                    enough about how great it has
                    been. I started as an adult beginner (with only a vague memory of what I learned in high
                    school) and
                    feel like I am making some great progress. Alex continues to be patient and well prepared
                    for each
                    lesson. He is an excellent teacher and a fun person to work with.</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <!--<svg class="bd-placeholder-img rounded-circle" width="80" height="80" xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                        dy=".3em">140x140</text>
                </svg>-->
                <h2>Tosh Allan</h2>
                <p style="color:#ffffff" ;>I will write great reviews for Alex's lessons till my last breath.
                    Not only
                    does Alex make the
                    lessons fun and engaging learning experiences but he also has a wide breadth of knowledge to
                    draw
                    on. In this way lessons with Alex often double both as a language learning experience but
                    also very
                    interesting conversations on a wide range of topics. Always I enjoy our time and look
                    forward to the
                    next session.</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <!-- <svg class="bd-placeholder-img rounded-circle" width="80" height="80" xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                        dy=".3em">140x140</text>
                </svg>-->
                <h2>Stephen Jahnke
                </h2>
                <p style="color:#ffffff" ;> I really enjoy class with Alex. Our exercises in grammar focus
                    around
                    whatever subject we end up
                    talking about that particular day; hence things stay relevant to current events. If we need
                    ideas,
                    he usually has a story to tell that gets conversation going. Like the time he was Galicia’s
                    2014
                    Staring Contest Champion and subsequently ended up taking 4th in Nationals. Great story!
                    Don’t
                    challenge him! You’ll lose! I did! Anyway, take class with Alex! You won’t regret it!
                </p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


</body>
<p>


</p>
{{> footer }}

</html>