<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
</head>
{{> head }}

<body>
    {{> navigation }}




    <div class="containerVideo">
        <iframe id="lbry-iframe" width="560" height="315"
            src="https://odysee.com/$/embed/Sentir-Sentirse/efe0745650142ee2c76b75269d0b88801734d09f?r=HHoDE2UTDxWadUKyWs7kt9Ww7PtoUBoK"
            allowfullscreen></iframe>
    </div>

    <p>Click on the image to download word for the transcription:

        <a href="pdfs\sentirvssentirse.pdf" style="color: #8ebf42" download="tapasyraciones">Download
        </a>
</body>

{{> footer }}

</html>