<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
</head>
{{> head }}

<body>
    {{> navigation }}

    <p></p>

    <h3>The vowels in Spanish are represented the same way as in English. The big diference is that in Spanish we have
        only 5 sounds and in English there are 20 sounds.

        <p></p>
        It should be easier to drop in number but there are some challenges.
        <p></p>

        Let me explain, vowels in Spanish are very plain and simple, and they always sound the same way. A E I O U
        Your mind will play tricks on you because there are some words that you already know in English that will
        recognize.

        <p></p>
        I always tell my students to put on the spanish hat,
        think you are Pancho Villa and go very slowly if the word it's difficult.

        <p></p>

        Here are some examples that could be a challenge for the pronuntiation.
        <p></p>

        piano <p></p>

        cafe <p></p>

        violin <p></p>

        hospital <p></p>

        hotel <p></p>

        euro <p></p>

        europa <p></p>

        zoo <p></p>


        I'll post a video soon with the audio for this words, so you can see the diference. <p></p>


        Another typical conflict at the beginning is this two vowels E-I. They are pronunce the other way
        around in Spanish, our I sounds like your E. <p></p>

        Try to go slow on new words and remember that the letters always keep the same basic and plane sound in Spanish.
        <p></p>


        That's all about the vowels, now, we can move on into more interesting subjets. Let's go! <p></p>

    </h3>
</body>

{{> footer }}

</html>