<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
</head>
    {{> head }}

<body>
    {{> navigation }}



    <p>
    <div class="iframe-container">

        <iframe id='audio_64389494' frameborder='3' allowfullscreen='' scrolling='no' height='200'
            style='border:1px solid #EEE; box-sizing:border-box; width:50%;'
            src='https://www.ivoox.com/player_es_podcast_1930772_zp_1.html?c1=f11d1e'></iframe>

    </div>
    <style>
        .iframe-container {
            text-align: center;
            width: 100%;
        }
    </style>

    <div class="bg-myphoto-light">
        <div class="card-block">
            <b>
                <h2>Contenidos de este podcast</h2>
            </b>

        </div>

    </div>

    <style>
        .bg-myphoto-light {
            text-align: center;
            width: 100%;
            color: black;
        }
    </style>
    <br></br>
    <div class="ext-1">


        <h3>I¡Hola a todos! Hoy vamos a hablar sobre un tema muy interesante: el perdón. Como profesor de español, he notado que mis estudiantes de habla inglesa a menudo dicen "lo siento" cada vez que cometen un error en mis clases, mientras que los españoles en general no suelen pedir disculpas tanto como los ingleses o los estadounidenses. Es interesante observar esta diferencia cultural en el uso del perdón.
Desde mi experiencia viviendo en Londres, pude ver que los ingleses a menudo dicen "perdón" después de cometer un error, pero a veces parecía que era un acto automático aprendido en los años de escuela y no realmente un perdón sincero. En España, el perdón es algo que se reserva para momentos en los que realmente sentimos remordimiento o culpa.


<h3>VERBOS RELACIONADOS CON EL PERDÓN: 
<p>-SENTIR</p>

<p>Lo siento-perdon-disculpa</p>

<p>Lo siento mucho. </p>

<p>Siento + llegar tarde (presente)</p>

<p>Siento + haber llegado tarde</p>

<p>-PERDONAR</p>

<p>Perdon que + sub</p>

<p>Perdona por + llegar tarde</p>

<p>Perdóname(el imperativo, cuando la otra persona está enfadada)</p>

<p>Me perdonas?</p>

<p>Te pido perdón por…</p>

<p>Quería pedirte perdón por….</p>



<p>-DISCULPAR</p>
<p>Un poco más formal, </p>

<p>Discúlpame</p>

<p>Le pido disculpas</p>

<p>Cuando hablamos del motivo</p>

<p>Discúlpame por….</p>



<p>-EXCUSARSE</p>
<p>HA SIDO SIN QUERER-</p>

<p>HA SIDO SIN DARME CUENTA</p>

<p>NO HA SIDO ADREDE</p>

<p>NO ERA MI INTENCION</p>

<p>Es que….tenía prisa</p>

<p>Ya sabes que…. </p>



<p>-ASUMIR RESPONSABILIDAD</p>
<p>Ha sido culpa mía, </p>
<p>Fallo mío</p>

<p>Me siento fatal-terrible. </p>

<p>No tengo perdón de Dios.</p>

<p>Me arrepiento</p>

<p>No volverá a ocurrir. </p>



<p>perdómame , lo siento, ha sido sin querer</p>
<p>Ay! Lo siento, ha sido sin querer</p>
<p>Perdona por llegar tarde. </p>
<p>PERO Muchas veces, los españoles evitamos pedir disculpas y reconocer nuestros errores
En España, en general, la cultura del escapismo es muy común. Si no reconoces algo, no existe. Es como los muertos: si no hay cuerpo, no hay asesinato. Por eso, muchas veces, se evita pedir perdón para evitar reconocer que se ha cometido un error.
Pero también hay otro tipo de perdón: el que se utiliza para buscar la atención de alguien. Este perdón no tiene ninguna carga de culpabilidad, sino que se utiliza para llamar la atención de alguien. Por ejemplo, "disculpa, mira, oye..."
En cualquier caso, pedir perdón puede hacernos sentir vulnerables, pero también puede ser una forma de demostrar humildad y de aceptar nuestras equivocaciones. Así que, aunque en España no se utilice con tanta frecuencia como en otros países, no debemos tener miedo de utilizarlo cuando sea necesario.
Espero que te haya gustado este podcast y que te haya resultado interesante. ¡Nos vemos en la próxima entrega!
 <p></h3><p></p>

            <h3>Sígueme en las redes sociales si quieres apoyar mi trabajo <p>

                <h3>Enjoy it :) <p>


                    


                </h3>
    </div>
    <style>
        .ext-1 {
            margin: auto;
            background: ;
            width: 66%;
            color: black;
    </style>


</body>

{{> footer }}

</html>