<!DOCTYPE html>
<html lang="en">

<head>



    <!-- icon  -->

    <link rel="icon" href="../content/images/favicon.ico" />


</head>

<body>
    {{> navigation }}

    <p></p>

    {{> cards }}
</body>

{{> footer }}

</html>