<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
</head>
{{> head }}

<body>
    {{> navigation }}

    <br></br>

    <div class="containerVideo" style="text-align:center">
        <iframe id="lbry-iframe" width="560" height="315" src="https://www.youtube.com/embed/WTjB9H9U8MM"
            allowfullscreen></iframe>
    </div>
    <div class="footvideo">
        <h2>Click on download for the transcription:</h2>

        <a href="pdfs\sentirvssentirse.pdf" style="color: #8ebf42" download="sentirvssentirse">Download
        </a>
    </div>

    <style>
        .footvideo {
            text-align: center;
            width: 100%;
            color: black;
        }
    </style>
</body>

{{> footer }}

</html>