<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
</head>
{{> head }}

<body>
    {{> navigation }}

    <div class="contenidoseryestar">

        <br><br>



        <p>Da lo mismo si eres un estudiante principiante o avanzado, el verbo “to be” en español sigue siendo uno de
            los verbos donde los estudiantes cometen más errores. Para mí, es uno de los verbos más importantes o quizás
            el más
            importante de todos.</p>


        <p> Dominar este verbo de manera total desde un principio es muy útil si queremos no cometer errores en
            el largo plazo, sonar como un español y ahorrar mucho tiempo. Así que, vamos a profundizar en todos sus usos
            y aspectos.
        </p>
        <p>
            Seguro que has escuchado explicaciones sobre su uso en otros videos.
            En este yo voy a intentar profundizar en su explicación. Voy a dividir el verbo en 3 niveles de dificultad
            dependiendo de
            tu nivel de español, o de tu interés.
            También voy a darte consejos y guías visuales para dominar este complejo verbo de una vez por todas.</p>

        <p>Así que, vamos allá.</p>

        <br><br>

        <h1 style="text-align: center;">NIVEL UNO</h1>
        <br><br>

        <p> En este nivel tenemos la explicación básica que casi todo profesor utiliza para enseñar el uso.
            Seguro que has visto antes este ejemplo con los acrónimos (DOCTOR-PLACE) y es un buen punto de inicio, pero
            recuerda....<bold>solo</bold> es una buena base o un inicio.</p>

        <p> Empecemos con unos ejemplos visuales.</p>

        <p> Vamos a imaginar que en un pueblecito de españa hay dos calles,
            unas de las calles tiene tiendas donde se utiliza el verbo SER, y otra calle tiene tiendas donde
            utilizamos el verbo ESTAR.</p>

        <p> Estas tiendas se corresponden casi por completo al esquema básico en los acrónimos.
            tú me vas a decir si pertenece a la calle del SER o del ESTAR </p>
        <div class="comparativaDoctor" style="text-align:center">
            <img src="/images/seryestarDoctor.png" alt="bueno y buena" class="img-fluid" width="400" height="346">
        </div>
        <br><br>

        <h2>SER</h2>

        <p>-Una tienda de relojes y calendarios. nota*(acordarse de que en las horas, la una, y en los precios un euro
            se entiende como singular y se utiliza ES), el vendedor le encanta dar la hora, y
            hay siempre un letrero con el día. Hoy es Lunes 4 de Enero. Es Verano.</p>
        <p>-Agencia de modelos--> es alto, es rubio, es guapo o feo
            tambien analiza su personalidad--->es simpatico, es amable, es listo
            y objetos utilizados en peliculas→ el coche es rojo, es viejo, el pantalon es azul.</p>
        <p>-un hospital donde la gente nace. y su origen ---> es de españa, es español.
            y de material para peliculas
            el coche es antiguo, la casa es vieja....es un euro, son 100 euros.</p>
        <p>-Agencia de trabajo. Cuando hablamos de profesiones utilizamos el verbo ser, no es el único pero puede ser
            el más importante. (que haces)(a que te dedicas)
            arbol geneológico -Relaciones personales-->, no solo la familia sino realciones fuera de ella</p>


        <h2>ESTAR</h2>


        <p>-la primera tienda es una de GPS, dentro podemos ver diferentes gps con nombres comerciales como AQUÍ,
            DEBAJO, ENCIMA, ATRAS....
            vamos a recordar todos estas palabras de localizacion como marcadores para nuestro
            verbo ESTAR, también vamos a recordar que a la preposición EN, le encanta el
            verbo ESTAR.</p>
        <p>-la segunda tienda es una tienda de interruptores, donde hay muchos interruptores con diferentes posiciones,
            estas posiciones son como estados. Puede estar encendido-apagado
            abierto-cerrado, frio-caliente.</p>
        <p>-Despues tenemos una academia de actores o un teatro, donde se interpretan muchas emociones, los actores
            están tristes, contentos, pero en la representación las emociones son la cuestion principal.</p>
        <p>-Y por ultimo tenemos una tienda de 24 horas que tiene maquinas que están constantemente funcionando. Aquí
            podemos explicar el verbo continuado. ESTOY trabajando.</p>




        <h2>HAY</h2>

        <p> En este nivel vamos a presentar un verbo nuevo, el verbo HABER. Es un verbo bastante raro, pero tiene una
            conjugación que es “hay”.</p>
        Siempre se va a traducir del ingles “there is” y “there are”
        <p>Podemos comparar el uso de este verbo con el uso del verbo estar.</p>
        <p>La silla está en la cocina.</p>
        <p>Hay una silla en la cocina.</p>
        <p>Repasar el ejercicio de la clase normal.</p>




        <h2>PRACTICA</h2>

        <p>espero que hayas aprendido algo nuevo con esta clase, ahora vamos a la práctica, la parte más importante,
            si construyes frases que son relevantes para ti, vas a recordarlas mejor, no te olvides de utilizar
            los verbos ser y estar con personas diferentes...
            nosotros, vosotros y ellos,</p>
        <p>La práctica debe de constar de un 10X del aprendizaje.</p>
        <p>Para los ingleses, el uso del SER-> es mucho más sencillo que el uso del ESTAR.
            Se traduce muy bien desde frases como he 's my brother. El es mi hermano.</p>
        <p>Sobre todo en las personas de tercera persona
            el verbo ESTAR, o la calle ESTAR es en la que tienes que andar con más cuidado.</p>

        <p>(METER UN GRAN NÚMERO DE EJEMPLOS Y ELLOS TIENEN QUE METERLOS EN LAS DIFERENTES TIENDAS) (HACER EJERCICIO
            INTERACTIVO EN LA PÁGINA WEB)</p>


        <p>Cuando acabes con la práctica continuaremos con la práctica en vivo, donde a veces debido a que
            no tenemos tiempo para pensar podemos cometer más errores, aquí es cuando un profesor que
            te corrija en tiempo real es muy importante, sobre todo en los primeros pasos.
            HASTA PRONTO y hasta el proximo video</p>

        <p> puedes repasar los verbos con esta taza cada vez que haces un té TAZA con los verbos SER Y ESTAR.</p>



        <br><br>




        <style>
            .contenidoseryestar {
                text-align: left;
                text-align: justify;

                width: 70%;
                margin: auto;
                color: black;
            }
        </style>
</body>

{{> footer }}

</html>