<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
</head>
{{> head }}

<body>
    {{> navigation }}

    <div class="contenidoseryestar">

        <br><br>



        <p>Da lo mismo si eres un estudiante principiante o avanzado, el verbo “to be” en español sigue siendo uno de
            los verbos donde los estudiantes cometen más errores.Para mí, es uno de los verbos más importantes o el más
            importante de todos.</p>


        <p>Dominar este verbo de una manera integral desde un principio es muy útil si queremos no cometer errores en
            el largo plazo y ahorrarnos mucho tiempo. Así que, vamos a profundizar en todos sus usos de arriba y abajo,
            y de adentro hacia afuera.
        </p>
        <p>Si estás aquí, seguro que has escuchado explicaciones sobre su uso en otros videos.
            En este yo voy a intentar profundizar en su explicación. Voy a dividir el verbo en 3 niveles de dificultad y
            También voy a darte consejos y guías visuales para dominar este escurridizo verbo de una vez por todas.</p>

        <p>Así que, vamos allá.</p>

        <br><br>

        <h1 style="text-align: center;">NIVEL UNO</h1>
        <br><br>

        <p>En este nivel tenemos la explicación básica que casi todo profesor utiliza para enseñar el uso.
            Seguro que lo has visto antes este ejemplo con los acrónimos y es un buen punto de inicio, pero
            recuerda....solo es una buena base o un inicio, y vamos a ver que hay excepciones después.</p>

        <p> Empecemos con unos ejemplos visuales.</p>

        <p> Vamos a imaginar que en un pueblecito de españa hay dos calles,
            unas de las calles tiene tiendas donde se utiliza el verbo SER, y otra calle tiene tiendas donde
            utilizamos el verbo ESTAR.</p>

        <p> Estas tiendas se corresponden casi por completo al esquema básico en los acrónimos.
            tú me vas a decir si pertenece a la calle del SER o del ESTAR </p>
        <div class="comparativaDoctor" style="text-align:center">
            <img src="/images/seryestarDoctor.png" alt="bueno y buena" width="" height="">
        </div>
        <br><br>

        <h2>SER</h2>

        <p>-Una tienda de relojes y calendarios. nota*(acordarse de que en las horas, la una, y en los precios un euro
            se entiende como singular y se utiliza ES), el vendedor le encanta dar la hora, y
            hay siempre un letrero con el día. Hoy () Lunes 4 de Enero. Es Verano.</p>
        <p>-Agencia de modelos--> es alto, es rubio, es guapo o feo
            tambien analiza su personalidad--->es simpatico, es amable, es listo
            y objetos utilizados en peliculas→ el coche es rojo, es viejo, el pantalon es azul.</p>
        <p>-un hospital donde la gente nace. y su origen ---> es de españa, es español.
            y de material para peliculas
            el coche es antiguo, la casa es vieja....es un euro, son 100 euros.</p>
        <p>-Agencia de trabajo. Cuando hablamos de profesiones utilizamos el verbo ser, no es el único pero puede ser
            el más importante. (que haces)(a que te dedicas)
            arbol geneológico -Relaciones personales-->, no solo la familia sino realciones fuera de ella</p>


        <h2>ESTAR</h2>


        <p>-la primera tienda es una de GPS, dentro podemos ver diferentes gps con nombres comerciales como AQUÍ,
            DEBAJO, ENCIMA, ATRAS....
            vamos a recordar todos estas palabras de localizacion como marcadores para nuestro
            verbo ESTAR, también vamos a recordar que a la preposición EN, le encanta el
            verbo ESTAR.</p>
        <p>-la segunda tienda es una tienda de interruptores, donde hay muchos interruptores con diferentes posiciones,
            estas posiciones son como estados. Puede estar encendido-apagado
            abierto-cerrado, frio-caliente.</p>
        <p>-Despues tenemos una academia de actores o un teatro, donde se interpretan muchas emociones, los actores
            están tristes, contentos, pero en la representación las emociones son la cuestion principal.</p>
        <p>-Y por ultimo tenemos una tienda de 24 horas que tiene maquinas que están constantemente funcionando. Aquí
            podemos explicar el verbo continuado. ESTOY trabajando.</p>




        <h2>HAY</h2>

        <p> En este nivel vamos a presentar un verbo nuevo, el verbo HABER. Es un verbo bastante raro, pero tiene una
            conjugación que es “hay”.</p>
        Siempre se va a traducir del ingles “there is” y “there are”
        <p>Podemos comparar el uso de este verbo con el uso del verbo estar.</p>
        <p>La silla está en la cocina.</p>
        <p>Hay una silla en la cocina.</p>
        <p>Repasar el ejercicio de la clase normal.</p>




        <h2>PRACTICA</h2>

        <p>espero que hayas aprendido algo nuevo con esta clase, ahora vamos a la práctica, la parte más importante,
            si construyes frases que son relevantes para ti, vas a recordarlas mejor, no te olvides de utilizar
            los verbos ser y estar con personas diferentes...
            nosotros, vosotros y ellos,</p>
        <p>La práctica debe de constar de un 10X del aprendizaje.</p>
        <p>Para los ingleses, el uso del SER-> es mucho más sencillo que el uso del ESTAR.
            Se traduce muy bien desde frases como he 's my brother. El es mi hermano.</p>
        <p>Sobre todo en las personas de tercera persona
            el verbo ESTAR, o la calle ESTAR es en la que tienes que andar con más cuidado.</p>

        <p>(METER UN GRAN NÚMERO DE EJEMPLOS Y ELLOS TIENEN QUE METERLOS EN LAS DIFERENTES TIENDAS) (HACER EJERCICIO
            INTERACTIVO EN LA PÁGINA WEB)</p>


        <p>Cuando acabes con la práctica continuaremos con la práctica en vivo, donde a veces debido a que
            no tenemos tiempo para pensar podemos cometer más errores, aquí es cuando un profesor que
            te corrija en tiempo real es muy importante, sobre todo en los primeros pasos.
            HASTA PRONTO y hasta el proximo video</p>

        <p> puedes repasar los verbos con esta taza cada vez que haces un té TAZA con los verbos SER Y ESTAR.</p>



        <br><br>

        <h1 style="text-align: center;">NIVEL 2</h1>
        <br><br>


        <p>En este video vamos a tratar las áreas grises de los verbos SER-ESTAR-
            cuando la misma palabra utilizada con cada verbo significa algo diferente.</p>
        <p>Nuestras calles y sus determinadas tiendas...
            pero el uso de se complica, hay tiendas que aceptan los dos verbos.
            Por ejemplo: </p>

        <ul>
            <li>SER GUAPO-ser feo ----- ESTAR GUAPO-estar feo</li>
            <li>SER LISTO-ser ocupado-----ESTAR LISTO-estar ocupado</li>
            <li>SER VERDE-----ESTAR VERDE</li>
            <li>SER LIMPIO-ser sucio -----ESTAR LIMPIO-estar sucio.</li>
            <li>la peli está muy guapa(cool)</li>
            <li>la peli es muy buena(agencia)</li>
            <li>el actor es feo(agencia)</li>
            <li>el coche es verde</li>
            <li>el coche está verde (interruptores)</li>
            <li>mi hermana es muy limpia(agencia)</li>
            <li>el está listo(interruptores)(ready)</li>
            <li>está feo hacer esperar(interruptores)(rude)</li>
            <li>está guapo(interruptores)(he looks handsome)(it´s cool)</li>
            <li>es guapo(agencia)(he is handsome)</li>
        </ul>



        <div class="imagenkinder" style="text-align:center">
            <img src="/images/kinderbueno.png" alt="bueno y buena" width="" height="">
        </div>
        <br><br>








        <p>Gracias a estas tiendas más a profundizar más en la intención de uso de cada verbo, hay algo positivo. En
            qué tiendas pondrías estas frases</p>

        <p>La comparación es una gran manera de aprender a ver las diferencias, por ello vamos a describir
            las diferentes situaciones de cada ejemplo</p>

        <p>-mi madre dice que estoy guapo CON esta chaqueta</p>
        <p>-mi madre dice que soy el hijo más guapo del mundo</p>

        <p>podemos observar la intención permanente del verbo SER, y como el verbo estar cae en la categoria de algo
            que tiene una razón directa de ser y es temporal, un estado.</p>


        <p>-soy verde(característica del objeto)</p>
        <p>-está verde(expresión para indicar la inmadurez)</p>

        <p>-soy listo(smart)</p>
        <p>-está listo(to be ready)(in a state of readiness)</p>

        <p>Ahora en este nivel vamos a hablar de adjetivos que tienen un significado diferente pero la diferencia es
            muy pequeña o se pueden confundir muy fácilmente.</p>
        <p>Y el uso del bien-mal/bueno-malo.</p>

        <p>Es nuevo/está nuevo</p>
        <p>es bueno/está bueno</p>
        <p>es rico / está rico.</p>

        <br><br>

        <h1 style="text-align: center;">NIVEL 3</h1>
        <br><br>

        <p>En este nivel quiero hablar del BIEN Y BUENO/MAL Y MALO junto al SER Y ESTAR.</p>


        <ul>

            <li>objetos----(tasty)
                Esta bueno(tasty)
                personas---(informal por hot)(tasty)(cosificar)</li>






            <li>objetos---it´s ok
                Está bien
                personas—he is ok.</li>


            <li>Objetos--calidad
                Ser bueno
                personas—bondad</li>

            <li>ser bien xxxxxxnooooooooooxxxxxxxx</li>
        </ul>



        <p> ¿que tal estás? Estoy bueno.(interruptor)(condición)
            ¿que tal estás? Estoy bien(emociones)(i am good)
            ¿que tal es la película? Es buena(good quality)
            ¿que tal está la película? Está bien(watchable)(interruptor)</p>


        <p>te acuerdas que en el nivel uno hablamos de estos marcadores para la posición. (aqui-alli-cerca)
            vamos a introducir una excepción.
            Cuando hablamos de eventos podemos utilizar “ser” también, ¿cual es la diferencia?</p>

        <p>-el concierto ES cerca(el evento)
            -el concierto ESTÁ cerca(el aspecto físico del concierto)
            -¿Dónde está la reunión?
            -¿donde es la reunión?(tiene más sentido utilizar el ser en esta frase, porque damos prioridad
            al evento)</p>

        <p> está allí(localizado)
            es allí(sucede)</p>

        <p>un uso confuso puede ser esta pregunta
            -¿como es la película?(aquí nos centramos en la descripcion de las características, preguntamos
            por eso o por la calidad. Es una pelicula buena(buenos actores-buen guión)
            -¿Cómo está la película?está bien. (supongo que aquí utilizamos es mismo estar como cuando
            preguntamos a alguien su humor o su situación personal.
            Te acuerdas que podíamos decir, que el pastel “ESTÁ BIEN” pues podemos usar lo mismo
            con películas, canciones, o eventos.
            El festival estuvo muy bien
            es un festival muy bueno</p>



        <p>ES VERANO- ESTAMOS EN VERANO.</p>


        <p> Espero que hayas aprendido algo nuevo con este video, si te ha gustado por favor presiona ese botoncito
            porque ayuda mucho.</p>
        <p>Ahora que entiendes el uso tenemos que hacer la práctica....nunca es suficiente,
            para mi es como las horas de vuelo de un piloto....es una cuestión de experiencia.
            Cuando cometas un error, simplemente reconócelo, cambialo y continua sin darle mucha importancia, los
            errores son parte del viaje.</p>


        </p>

        <br><br>


    </div>


    <style>
        .contenidoseryestar {
            text-align: left;
            text-align: justify;

            width: 40%;
            margin: auto;
            color: black;
        }
    </style>
</body>

{{> footer }}

</html>