<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
</head>
{{> head }}

<body>
    {{> navigation }}

    <div class="contenidoseryestar">



        <h1 style="text-align: center;">NIVEL 2</h1>
        <br><br>


        <p>En este video vamos a tratar las áreas grises de los verbos SER-ESTAR-
            cuando la misma palabra utilizada con cada verbo significa algo diferente.</p>
        <p>Nuestras calles y sus determinadas tiendas...
            pero el uso de se complica, hay tiendas que aceptan los dos verbos.
            Por ejemplo: </p>

        <ul>
            <li>SER GUAPO-ser feo ----- ESTAR GUAPO-estar feo</li>
            <li>SER LISTO-ser ocupado-----ESTAR LISTO-estar ocupado</li>
            <li>SER VERDE-----ESTAR VERDE</li>
            <li>SER LIMPIO-ser sucio -----ESTAR LIMPIO-estar sucio.</li>
            <li>la peli está muy guapa(cool)</li>
            <li>la peli es muy buena(agencia)</li>
            <li>el actor es feo(agencia)</li>
            <li>el coche es verde</li>
            <li>el coche está verde (interruptores)</li>
            <li>mi hermana es muy limpia(agencia)</li>
            <li>el está listo(interruptores)(ready)</li>
            <li>está feo hacer esperar(interruptores)(rude)</li>
            <li>está guapo(interruptores)(he looks handsome)(it´s cool)</li>
            <li>es guapo(agencia)(he is handsome)</li>
        </ul>



        <div class="imagenkinder" style="text-align:center">
            <img src="/images/kinderbueno.png" alt="bueno y buena" class="img-fluid" width="380" height="130">
        </div>
        <br><br>








        <p>Gracias a estas tiendas más a profundizar más en la intención de uso de cada verbo, hay algo positivo. En
            qué tiendas pondrías estas frases</p>

        <p>La comparación es una gran manera de aprender a ver las diferencias, por ello vamos a describir
            las diferentes situaciones de cada ejemplo</p>

        <p>-mi madre dice que estoy guapo CON esta chaqueta</p>
        <p>-mi madre dice que soy el hijo más guapo del mundo</p>

        <p>podemos observar la intención permanente del verbo SER, y como el verbo estar cae en la categoria de algo
            que tiene una razón directa de ser y es temporal, un estado.</p>


        <p>-soy verde(característica del objeto)</p>
        <p>-está verde(expresión para indicar la inmadurez)</p>

        <p>-soy listo(smart)</p>
        <p>-está listo(to be ready)(in a state of readiness)</p>

        <p>Ahora en este nivel vamos a hablar de adjetivos que tienen un significado diferente pero la diferencia es
            muy pequeña o se pueden confundir muy fácilmente.</p>
        <p>Y el uso del bien-mal/bueno-malo.</p>

        <p>Es nuevo/está nuevo</p>
        <p>es bueno/está bueno</p>
        <p>es rico / está rico.</p>

        <br><br>

        <h1 style="text-align: center;">NIVEL 3</h1>
        <br><br>

        <p>En este nivel quiero hablar del BIEN Y BUENO/MAL Y MALO junto al SER Y ESTAR.</p>


        <ul>

            <li>objetos----(tasty)
                Esta bueno(tasty)
                personas---(informal por hot)(tasty)(cosificar)</li>






            <li>objetos---it´s ok
                Está bien
                personas—he is ok.</li>


            <li>Objetos--calidad
                Ser bueno
                personas—bondad</li>

            <li>ser bien xxxxxxnooooooooooxxxxxxxx</li>
        </ul>



        <p> ¿que tal estás? Estoy bueno.(interruptor)(condición)
            ¿que tal estás? Estoy bien(emociones)(i am good)
            ¿que tal es la película? Es buena(good quality)
            ¿que tal está la película? Está bien(watchable)(interruptor)</p>


        <p>te acuerdas que en el nivel uno hablamos de estos marcadores para la posición. (aqui-alli-cerca)
            vamos a introducir una excepción.
            Cuando hablamos de eventos podemos utilizar “ser” también, ¿cual es la diferencia?</p>

        <p>-el concierto ES cerca(el evento)
            -el concierto ESTÁ cerca(el aspecto físico del concierto)
            -¿Dónde está la reunión?
            -¿donde es la reunión?(tiene más sentido utilizar el ser en esta frase, porque damos prioridad
            al evento)</p>

        <p> está allí(localizado)
            es allí(sucede)</p>

        <p>un uso confuso puede ser esta pregunta
            -¿como es la película?(aquí nos centramos en la descripcion de las características, preguntamos
            por eso o por la calidad. Es una pelicula buena(buenos actores-buen guión)
            -¿Cómo está la película?está bien. (supongo que aquí utilizamos es mismo estar como cuando
            preguntamos a alguien su humor o su situación personal.
            Te acuerdas que podíamos decir, que el pastel “ESTÁ BIEN” pues podemos usar lo mismo
            con películas, canciones, o eventos.
            El festival estuvo muy bien
            es un festival muy bueno</p>



        <p>ES VERANO- ESTAMOS EN VERANO.</p>


        <p> Espero que hayas aprendido algo nuevo con este video, si te ha gustado por favor presiona ese botoncito
            porque ayuda mucho.</p>
        <p>Ahora que entiendes el uso tenemos que hacer la práctica....nunca es suficiente,
            para mi es como las horas de vuelo de un piloto....es una cuestión de experiencia.
            Cuando cometas un error, simplemente reconócelo, cambialo y continua sin darle mucha importancia, los
            errores son parte del viaje.</p>


        </p>

        <br><br>


    </div>


    <style>
        .contenidoseryestar {
            text-align: left;
            text-align: justify;

            width: 70%;
            margin: auto;
            color: black;
        }
    </style>
</body>

{{> footer }}

</html>