<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
</head>
{{> head }}

<body>
    {{> navigation }}



    <p></p>
    <div class="iframe-container">

        <iframe id='audio_64389494' frameborder='3' allowfullscreen='' scrolling='no' height='200'
            style='border:1px solid #EEE; box-sizing:border-box; width:50%;'
            src='https://www.ivoox.com/player_es_podcast_1728440_zp_1.html?c1=0494e4'></iframe>
    </div>
    <style>
        .iframe-container {
            text-align: center;
            width: 100%;
        }
    </style>

    <div class="bg-myphoto-light">
        <div class="card-block">
            <b>
                <h2>Contenidos de este podcast</h2>
            </b>

        </div>

    </div>

    <style>
        .bg-myphoto-light {
            text-align: center;
            width: 100%;
            color: black;
        }
    </style>
    <br></br>
    <div class="ext-1">


        <h3>Escuchamos a Eric, hablar sobre este tema.
            Repasamos vocabulario y escuchamos como utiliza
            un lenguaje sencillo pero capaz de transmitir todo
            lo que quiere decir.

            Hay expresiones en la transcripción que están
            en mayúsculas, Esas son las más importantes
            en este podcast.

            <p></p>

            <h3>Después de escuchar el podcast piensa en si has encontrado algún error, o
                una mejor manera de expresar lo que dice. <p></p>

                <h3>Enjoy it :) <p></p>


                    <p>Click on download for the transcription:

                        <a href="transcriptions\tirarComida.txt" style="color: #8ebf42" download="tirarComida">Download
                        </a>


                </h3>
    </div>
    <style>
        .ext-1 {
            margin: auto;
            background: ;
            width: 66%;
            color: black;
    </style>


</body>

{{> footer }}

</html>