<!-- FOURTH ROW PASTE -->


<div class="row  g-4 px-4 ">

    <div class="col-sm">
        <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="../images/cards/pedirPerdon.jpg" class="img-fluid" />
                <a href="/pedirperdon">
                    <div class="mask" style="
      background: linear-gradient(
        45deg,
        rgba(29, 236, 197, 0.5),
        rgba(91, 14, 214, 0.5) 100%
      );
    "></div>
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Pedir perdón en España </h5>
                <p class="card-text">

                </p>
                <a href="/pedirperdon" class="btn btn-primary">Podcast</a>
            </div>
        </div>
    </div>


    <div class="col-sm">

        <div class="card border border-primary shadow-0 mb-3">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="warning">
                <img src="../images/cards/mas.jpg" class="img-fluid" />
                <a href="/">
                    <div class="mask" style="
      background: linear-gradient(
        45deg,
        rgba(245, 175, 85, 0.5),
        rgba(91, 14, 214, 0.5) 100%
      );
    "></div>
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Sígueme para estar informado</h5>
                <p class="card-text">

                </p>
                <a href="/buscoCompanero" class="btn btn-primary">Video</a>
            </div>
        </div>
    </div>
    <div class="col-sm">

        <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="../images/cards/pronto.jpg" class="img-fluid" />
                <a href="/">
                    <div class="mask" style="
      background: linear-gradient(
        45deg,
        rgba(29, 236, 197, 0.5),
        rgba(91, 14, 214, 0.5) 100%
      );
    ">
                    </div>
                </a>
            </div>
            <div class="card-body ">
                <h5 class="card-title"> Preparando cositas.

                </h5>
                <p class="card-text">

                </p>
                <a href="/tirarComida" class="btn btn-primary">Podcast</a>
            </div>
        </div>
    </div>
</div>

<div class="row g-4 px-4 ">

    <div class="col-sm">
        <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="../images/cards/tapasracionesypinchos.jpg" class="img-fluid" />
                <a href="/FalsosAmigos">
                    <div class="mask" style="
      background: linear-gradient(
        45deg,
        rgba(29, 236, 197, 0.5),
        rgba(91, 14, 214, 0.5) 100%
      );
    "></div>
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Tapas Raciones y Pinchos</h5>
                <p class="card-text">
                    In this unit we are going
                    to see some food.Let's go!
                </p>
                <a href="/FalsosAmigos" class="btn btn-primary">Podcast</a>
            </div>
        </div>
    </div>
    <div class="col-sm">

        <div class="card border border-primary shadow-0 mb-3">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="../images/cards/rutinasdiarias.jpg" class="img-fluid" />
                <a href="/LasVocales">
                    <div class="mask" style="
      background: linear-gradient(
        45deg,
        rgba(245, 175, 85, 0.5),
        rgba(91, 14, 214, 0.5) 100%
      );
    "></div>
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Rutinas Diarias</h5>
                <p class="card-text">
                    A video where I explain how to express daily routines
                </p>
                <a href="/LasVocales" class="btn btn-primary">Video</a>
            </div>
        </div>
    </div>
    <div class="col-sm">

        <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="../images/cards/seryestar1.jpg" class="img-fluid" />
                <a href="/servsestar">
                    <div class="mask" style="
      background: linear-gradient(
        45deg,
        rgba(29, 236, 197, 0.5),
        rgba(91, 14, 214, 0.5) 100%
      );
    "></div>
                </a>
            </div>
            <div class="card-body ">
                <h5 class="card-title">Verbos ser vs estar</h5>
                <p class="card-text">
                    In this unit we are going to see the uses of Ser and Estar
                </p>
                <a href="/servsestar" class="btn btn-primary">Grammar</a>
            </div>
        </div>
    </div>
</div>


<!-- SECOND ROW PASTE -->

<div class="row  g-4 px-4 ">

    <div class="col-sm">
        <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="../images/cards/fregaronofregar.jpg" class="img-fluid" />
                <a href="/fregaronofregar">
                    <div class="mask" style="
      background: linear-gradient(
        45deg,
        rgba(29, 236, 197, 0.5),
        rgba(91, 14, 214, 0.5) 100%
      );
    "></div>
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">washing dishes or not washing dishes </h5>
                <p class="card-text">

                </p>
                <a href="#!" class="btn btn-primary">Podcast</a>
            </div>
        </div>
    </div>


    <div class="col-sm">

        <div class="card border border-primary shadow-0 mb-3">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="warning">
                <img src="../images/cards/sentirysentirse.jpg" class="img-fluid" />
                <a href="/sentirysentirse">
                    <div class="mask" style="
      background: linear-gradient(
        45deg,
        rgba(245, 175, 85, 0.5),
        rgba(91, 14, 214, 0.5) 100%
      );
    "></div>
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Two similar verbs but very different</h5>
                <p class="card-text">

                </p>
                <a href="#!" class="btn btn-primary">Video</a>
            </div>
        </div>
    </div>
    <div class="col-sm">

        <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="../images/cards/seryestar2.jpg" class="img-fluid" />
                <a href="/seryestar2">
                    <div class="mask" style="
      background: linear-gradient(
        45deg,
        rgba(29, 236, 197, 0.5),
        rgba(91, 14, 214, 0.5) 100%
      );
    ">
                    </div>
                </a>
            </div>
            <div class="card-body ">
                <h5 class="card-title"> more uses of Ser and Estar

                </h5>
                <p class="card-text">

                </p>
                <a href="/#!" class="btn btn-primary">Grammar</a>
            </div>
        </div>
    </div>
</div>

<!-- THIRD ROW PASTE -->


<div class="row  g-4 px-4 ">

    <div class="col-sm">
        <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="../images/cards/avionRetraso.jpg" class="img-fluid" />
                <a href="/avionRetraso">
                    <div class="mask" style="
      background: linear-gradient(
        45deg,
        rgba(29, 236, 197, 0.5),
        rgba(91, 14, 214, 0.5) 100%
      );
    "></div>
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Problemas en el aeropuerto</h5>
                <p class="card-text">

                </p>
                <a href="#!" class="btn btn-primary">Video</a>
            </div>
        </div>
    </div>


    <div class="col-sm">

        <div class="card border border-primary shadow-0 mb-3">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="warning">
                <img src="../images/cards/companeroPiso.jpg" class="img-fluid" />
                <a href="/buscoCompanero">
                    <div class="mask" style="
      background: linear-gradient(
        45deg,
        rgba(245, 175, 85, 0.5),
        rgba(91, 14, 214, 0.5) 100%
      );
    "></div>
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Find me the perfect flatmate</h5>
                <p class="card-text">

                </p>
                <a href="/buscoCompanero" class="btn btn-primary">Video</a>
            </div>
        </div>
    </div>
    <div class="col-sm">

        <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="../images/cards/tirarComida.jpg" class="img-fluid" />
                <a href="/tirarComida">
                    <div class="mask" style="
      background: linear-gradient(
        45deg,
        rgba(29, 236, 197, 0.5),
        rgba(91, 14, 214, 0.5) 100%
      );
    ">
                    </div>
                </a>
            </div>
            <div class="card-body ">
                <h5 class="card-title"> Escuchamos a Eric sobre este tema.

                </h5>
                <p class="card-text">

                </p>
                <a href="/tirarComida" class="btn btn-primary">Podcast</a>
            </div>
        </div>
    </div>
</div>