<div class="card-group">
    <div class="card bg-light mb-3 card border-secondary">
        <img class="card-img-top" src="../images/FalsosAmigos12.jpg" alt="Card image cap" />

        <div class="card-body">
            <h1 class="card-title">Podcast 1: comida en los bares</h1>
            <p class="card-text">
                <a href="/FalsosAmigos" target="_self">In this unit we are going to see types of food in bars!</a>
            </p>
            <p class="card-text">
                <small class="text-muted"></small><strong>Spanish A1
                    Spanish tapas</strong>
            </p>
        </div>
    </div>
    <div class="card bg-light mb-3 card border-secondary">
        <img class="card-img-top" src="../images/LasVocales1.jpg" alt="route image dont know" />
        <div class="card-body">
            <h1 class="card-title">Las Vocales</h1>
            <p class="card-text">
                <a href="/LasVocales" target="_self">In this unit we are going to see the pronuntiation of the
                    vowels</a>
            </p>
            <p class="card-text">
                <small class="text-muted"></small><strong>Spanish A1 Vowels</strong>
            </p>
        </div>
    </div>
    <div class="card bg-light mb-3 card border-secondary">
        <!-- es interesante ver como funciona el tema de las imagenes y que las rutas parten del origen de app -->
        <img class="card-img-top" src="../images/SeroEstar.png" alt="Card image cap" />
        <div class="card-body">
            <h1 class="card-title">Verbos ser vs estar</h1>
            <p class="card-text">
                <a href="/servsestar" target="_self">In this unit we are going to see the uses of Ser and Estar</a>
            </p>
            <p class="card-text">
                <small class="text-muted">
                </small><strong>Spanish A1 Verbs</strong>
            </p>
        </div>
    </div>
</div>