<div class="row g-4 px-4 ">

    <div class="col-sm">
        <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="../images/cards/tapasracionesypinchos.jpg" class="img-fluid" />
                <a href="/FalsosAmigos">
                    <div class="mask" style="
      background: linear-gradient(
        45deg,
        rgba(29, 236, 197, 0.5),
        rgba(91, 14, 214, 0.5) 100%
      );
    "></div>
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Tapas Raciones y Pinchos</h5>
                <p class="card-text">
                    In this unit we are going
                    to see some food.Let's go!
                </p>
                <a href="/FalsosAmigos" class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>
    <div class="col-sm">

        <div class="card border border-primary shadow-0 mb-3">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="../images/cards/sentirvssentirse.jpg" class="img-fluid" />
                <a href="/LasVocales">
                    <div class="mask" style="
      background: linear-gradient(
        45deg,
        rgba(245, 175, 85, 0.5),
        rgba(91, 14, 214, 0.5) 100%
      );
    "></div>
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Sentir vs Sentirse</h5>
                <p class="card-text">
                    differences in Spanish, when to use one or
                    the
                    other. begginer A1
                </p>
                <a href="/LasVocales" class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>
    <div class="col-sm">

        <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="../images/cards/ser.jpg" class="img-fluid" />
                <a href="/servsestar">
                    <div class="mask" style="
      background: linear-gradient(
        45deg,
        rgba(29, 236, 197, 0.5),
        rgba(91, 14, 214, 0.5) 100%
      );
    "></div>
                </a>
            </div>
            <div class="card-body ">
                <h5 class="card-title">Verbos ser vs estar</h5>
                <p class="card-text">
                    In this unit we are going to see the uses of Ser and Estar
                </p>
                <a href="/servsestar" class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>
</div>


<!-- SECOND ROW PASTE -->

<div class="row  g-4 px-4 ">

    <div class="col-sm">
        <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="../images/cards/pronto.jpg" class="img-fluid" />
                <!--  <a href="/FalsosAmigos"> -->
                <div class="mask" style="
      background: linear-gradient(
        45deg,
        rgba(29, 236, 197, 0.5),
        rgba(91, 14, 214, 0.5) 100%
      );
    "></div>
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Soon</h5>
                <p class="card-text">

                </p>
                <a href="#!" class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>
    <div class="col-sm">

        <div class="card border border-primary shadow-0 mb-3">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="warning">
                <img src="../images/cards/mas.jpg" class="img-fluid" />
                <!-- <a href="/LasVocales"> -->
                <div class="mask" style="
      background: linear-gradient(
        45deg,
        rgba(245, 175, 85, 0.5),
        rgba(91, 14, 214, 0.5) 100%
      );
    "></div>
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">More</h5>
                <p class="card-text">

                </p>
                <a href="#!" class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>
    <div class="col-sm">

        <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="../images/cards/contenido.jpg" class="img-fluid" />
                <!--  <a href="/servsestar"> -->
                <div class="mask" style="
      background: linear-gradient(
        45deg,
        rgba(29, 236, 197, 0.5),
        rgba(91, 14, 214, 0.5) 100%
      );
    "></div>
                </a>
            </div>
            <div class="card-body ">
                <h5 class="card-title">Content</h5>
                <p class="card-text">

                </p>
                <a href="/#!" class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>
</div>