<div class="card-group">
    <div class="card bg-light mb-3 card border-secondary">
        <img class="card-img-top" src="../images/FalsosAmigos1.jpg" alt="Card image cap" />

        <div class="card-body">
            <h1 class="card-title"> Tapas Raciones y Pinchos</h1>
            <p class="card-text">
                <a href="/FalsosAmigos" target="_self">In this unit we are going to see some food.Let's go!</a>

            </p>
            <p class="card-text">
                <small class="text-muted"></small><strong>Spanish A1
                    Tapas Raciones y Pinchos</strong>
            </p>
        </div>
    </div>
    <div class="card bg-light mb-3 card border-secondary">
        <img class="card-img-top" src="../images/LasVocales.jpg" alt="route image dont know" />
        <div class="card-body">
            <h1 class="card-title">Sentir vs Sentirse</h1>
            <p class="card-text">
                <a href="/LasVocales" target="_self">Sentir vs Sentirse, differences in Spanish, when to use one or the
                    other. begginer A1
                </a>
            </p>
            <p class="card-text">
                <small class="text-muted"></small><strong>Spanish A1 Sentir vs Sentirse</strong>
            </p>
        </div>
    </div>
    <div class="card bg-light mb-3 card border-secondary">
        <!-- es interesante ver como funciona el tema de las imagenes y que las rutas parten del origen de app -->
        <img class="card-img-top" src="../images/SerVsEstar.jpg" alt="Card image cap" />
        <div class="card-body">
            <h1 class="card-title">Verbos ser vs estar</h1>
            <p class="card-text">
                <a href="/servsestar" target="_self">In this unit we are going to see the uses of Ser and Estar</a>
            </p>
            <p class="card-text">
                <small class="text-muted">
                </small><strong>Spanish A1 Verbs</strong>
            </p>
        </div>
    </div>
</div>