<div class="card-group">
    <div class="card bg-light mb-3 card border-secondary">
        <img
            class="card-img-top"
            src="../images/logo.webp"
            alt="Card image cap"
        />

        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                la idea es que este texto tenga un link hacia el contenido y que
                en el pie de pagina diga el nivel del material
            </p>
            <p class="card-text">
                <small class="text-muted">nivel intermedio B2</small>
            </p>
        </div>
    </div>
    <div class="card bg-light mb-3 card border-secondary">
        <img
            class="card-img-top"
            src="../images/logo.webp"
            alt="route image dont know"
        />
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                podemos poner una linea gris y espaciado entre las tarjetas para
                hacerlo mas bonito
            </p>
            <p class="card-text">
                <small class="text-muted"
                    >principiante, *texto en azul ago</small
                >
            </p>
        </div>
    </div>
    <div class="card bg-light mb-3 card border-secondary">
        <!-- es interesante ver como funciona el tema de las imagenes y que las rutas parten del origen de app -->
        <img
            class="card-img-top"
            src="../images/logo.webp"
            alt="Card image cap"
        />
        <div class="card-body">
            <h1 class="card-title">verbos ser vs estar</h1>
            <p class="card-text">
                <a href="/servsestar" target="_self"
                    >Esto es un ejemplo de como podemos ir poniendo material en
                    la pagina para que todo el mundo lo pueda ver</a
                >
            </p>
            <p class="card-text">
                <small class="text-muted"
                    ><strong>Spanish B2 Verbs</strong>
                </small>
            </p>
        </div>
    </div>
</div>
