<footer>




    <div class="bg-light text-center p-3">


        <p class="h3">

            <i class="fa fa-camera-retro"></i> <a href="https://www.instagram.com/spanishwithalex/"
                class="fas fa-instagram">Instagram</a>

            <i class="fa fa-comments"></i><a href="https://twitter.com/spanishwithalex">Twitter</a>
            <i class="fa fa-user-circle"></i><a href="https://www.facebook.com/spanishwithalex"
                class="fas fa-facebook">Facebook</a>
            <i class="fa fa-comment"></i><a href="https://www.youtube.com/channel/UCxOyydStzjg7LfQo7YeTcqg"
                class="fas fa-youtube">Youtube</a>


        <p>
        </p>



        <p> Follow and I will see you soon. Gracias! 2021 &copy;
        </p>
</footer>

<!-- SCRIPT -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>