<footer>




    <div class="bg-light text-center p-3">


        <p class="h3">




        <p>
        </p>
        <!-- Facebook -->
        <a style="color: #3b5998;" href="https://www.facebook.com/spanishwithalex" role="button"><i
                class="fab fa-facebook-f fa-lg fa-3x"></i></a>

        <!-- Twitter -->
        <a style="color: #55acee;" href="https://twitter.com/spanishwithalex" role="button"><i
                class="fab fa-twitter fa-lg fa-3x"></i></a>



        <!-- Instagram -->
        <a style="color: #ac2bac;" href="https://www.instagram.com/spanishwithalex/" role="button"><i
                class="fab fa-instagram fa-lg fa-3x"></i></a>



        <!-- Youtube -->

        <a style="color: #dd4b39;" href="https://www.youtube.com/channel/UCxOyydStzjg7LfQo7YeTcqg" role="button"> <i
                class="fab fa-youtube  fa-3x"></i></a>

        <p>
        </p>
        <p> Spanish with Alex 2021 &copy;
        </p>




</footer>

<!-- SCRIPT -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>