<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
        <%- include('partials/head'); %>
    </head>

    <body>
        <%- include('partials/navigation'); %>

        <header>
            <div class="container">
                <header class="row">
                    <div class="col-lg-12 tex-center">
                        <img src="/img/diamond.png" alt="logo" />
                    </div>
                </header>
            </div>
        </header>
    


<!-- SECTION ONE-->

<div class="container fluid" id="about">
    <div class="row bg-dark text-white p-5 text-center">
        <i class="fav fa-book fa-10x"></i>
    </div>
    <div class="col sm-6"></div>
    <h3 The most famous Spanish teacher></h3>
</div>
</div>
</div>

    
</body>

<%- include('partials/footer'); %>


</html>
