<nav class="navbar navbar-dark bg-light">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="/">
                <i class="fas fa-home"></i>
                Spanish with Alex</a
            >
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#/materials">
                <i class="fas fa-book"></i>
                Materials</a
            >
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#/courses">
                <i class="fas fa-graduation-cap"></i>
                Courses</a
            >
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact">
                <i class="fas fa-envelope"></i>
                Contact</a
            >
        </li>
    </ul>
</nav>
